In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import json
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head(3)

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [ ]:
category_df =

In [4]:
# Get the crowdfunding_info_df columns.

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [6]:
# Assign the category and subcategory values to category and subcategory columns.

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category',
       'category', 'subcategory'],
      dtype='object')

### Challenge ...
##### For category and sub_category df, use Pandas Series / DataFrame operations only (no list comprehension, no loops, no hardcoded values)

In [7]:
# Create the category dataframe per above specification 
# Pandas Series/DataFrame operations only (no list comprehension, no loops, no hardcoded values)

category_df

  category_id      category
0       cat_1          food
1       cat_2         music
2       cat_3    technology
3       cat_4       theater
4       cat_5  film & video
5       cat_6    publishing
6       cat_7         games
7       cat_8   photography
8       cat_9    journalism

In [8]:
# Create the subcategory dataframe per above specification 
# Pandas/Dataframe operations only (no list comprehension, no loops, no hardcoded values)

subcategory_df

   subcategory_id        subcategory
0           cat_1        food trucks
1           cat_2               rock
2           cat_3                web
3           cat_4              plays
4           cat_5        documentary
5           cat_6     electric music
6           cat_7              drama
7           cat_8         indie rock
8           cat_9          wearables
9          cat_10         nonfiction
10         cat_11          animation
11         cat_12        video games
12         cat_13             shorts
13         cat_14            fiction
14         cat_15  photography books
15         cat_16   radio & podcasts
16         cat_17              metal
17         cat_18               jazz
18         cat_19       translations
19         cat_20         television
20         cat_21       mobile games
21         cat_22        world music
22         cat_23    science fiction
23         cat_24              audio

In [ ]:
# Skip export of categories_df and subcategories_df as CSV files. 
# Update database directly below

# category_df.to_csv("Resources/category.csv", index=False)
# subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [9]:
# If necessary, create a copy of the crowdfunding_info_df DataFrame named campaign_df.

In [10]:
# Rename the blurb, launched_at, and deadline columns and confirm.

campaign_df.columns

Index(['cf_id', 'contact_id', 'company_name', 'description', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launch_date',
       'end_date', 'staff_pick', 'spotlight', 'category & sub-category',
       'category', 'subcategory'],
      dtype='object')

In [11]:
# Convert the goal and pledged columns to a `float` data type and confirm.

goal       float64
pledged    float64
dtype: object

In [12]:
# Format the launched_date and end_date columns to datetime64 format and confirm.

launch_date    datetime64[ns]
end_date       datetime64[ns]
dtype: object

In [13]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.

campaign_df.tail(2)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_id,subcategory_id
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,2020-10-08 05:00:00,2021-04-11 05:00:00,False,True,music/indie rock,music,indie rock,cat_2,cat_8
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,2020-12-30 06:00:00,2021-08-18 05:00:00,False,False,food/food trucks,food,food trucks,cat_1,cat_1

### Challege ... 
##### Select columns for output as opposed to dropping columns

In [14]:
# Define a list of columns to select for output (as opposed to dropping)

campaign_df[campaign_cols].head(2)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,cat_1,cat_1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,cat_2,cat_2

In [15]:
# Skip export the DataFrame as a CSV file. 
# campaign_df[campaign_cols].to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [16]:
# Read the data into a Pandas DataFrame. Use the `header=3` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_info_df.head(2)

  {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
0        {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
1          {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

#### Option 1: Use Pandas to create the contacts DataFrame.
### Challenge: No for loop. Can be done in 1 line.

In [17]:
# Iterate through the contact_info_df and create contacts_df dataframe.
# Challenge: No for loop, list comprehension OK

contacts_df.head(2)

   contact_id           name                    email
0        3765  Mariana Ellis  mariana.ellis@rossi.org
1        4187    Sofie Woods  sofie.woods@riviere.com

In [18]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column.

   contact_id           name                    email first_name last_name
0        3765  Mariana Ellis  mariana.ellis@rossi.org    Mariana     Ellis
1        4187    Sofie Woods  sofie.woods@riviere.com      Sofie     Woods

In [19]:
# Convert contact_id to integer

dtype('int32')

In [20]:
# Define list of columns ordered and selected for output (as opposed to dropping)

contacts_df[contact_cols].head(2)

   contact_id first_name last_name                    email
0        3765    Mariana     Ellis  mariana.ellis@rossi.org
1        4187      Sofie     Woods  sofie.woods@riviere.com

In [ ]:
# Skip export the DataFrame as a CSV file, output to database directly below. 
# contacts_df[out_cols].to_csv("Resources/contacts.csv", encoding='utf8', index=False)

#### Option 2: Use regex to create the contacts DataFrame.
### Challenge: Extract the fields from contacts dataframe using a single regex

In [21]:
# Extract the fields of interest from contacts dataframe using a single regex

contacts_df

        0             1           2                                          3
0    3765       Mariana       Ellis                    mariana.ellis@rossi.org
1    4187         Sofie       Woods                    sofie.woods@riviere.com
2    4941      Jeanette    Iannotti                jeanette.iannotti@yahoo.com
3    2199        Samuel     Sorgatz                   samuel.sorgatz@gmail.com
4    5650       Socorro        Luna                   socorro.luna@hotmail.com
..    ...           ...         ...                                        ...
994  3684       Whitney       Noack             whitney.noack@laboratorios.org
995  5784     Gelsomina  Migliaccio              gelsomina.migliaccio@junk.com
996  1498   Evangelista     Pereira  evangelista.pereira@thompson-peterson.biz
997  6073        Gareth     Comolli                  gareth.comolli@tiscali.fr
998  4939  Michelangelo        Hess              michelangelo.hess@bouygtel.fr

[999 rows x 4 columns]

In [22]:
# Check the datatypes.

contacts_df.dtypes

contact_id    object
first_name    object
last_name     object
email         object
dtype: object

In [23]:
# Convert contact_id to integer and confirm

dtype('int32')

In [ ]:
# Skip export the DataFrame as a CSV file, output direct to database below. 
# contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Create ERD for database and tables: campaign, category, subcategory, contacts
### Create database and tables: campaign, category, subcategory, contacts

### Create connection to database and add entries from transform output to database tables.

In [24]:
# Create connection to the database

In [26]:
# Campaign data to database
campaign_df[campaign_cols].to_sql('campaign', engine, if_exists='append', index=False)

In [27]:
# Category data to database

In [28]:
# Subcategory data to database

In [31]:
# Contact info to database

In [33]:
# Query the category database
engine.execute('select * from category;').all()

[('cat_1', 'food'),
 ('cat_2', 'music'),
 ('cat_3', 'technology'),
 ('cat_4', 'theater'),
 ('cat_5', 'film & video'),
 ('cat_6', 'publishing'),
 ('cat_7', 'games'),
 ('cat_8', 'photography'),
 ('cat_9', 'journalism')]